

.index
{
    background-image: url('fotofundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: white;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

}
.categoria
{
    color: white;
    text-align: center ;
    
    
    
}

.receitas
{
   background-color: azure;
   background-repeat: no-repeat;
   color: brown;
    
}
.bolochocolate
{
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    padding: 3em;
    right: 0;
    text-align: center;
    top: 0;
}
